* {
  box-sizing: border-box;
}
body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: #283149;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-size: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
  font-size: 5rem;
  color: #dbedf3;

  text-shadow: 10px 0 #1f3b56;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
}

.a {
}

.s {
}

.d {
}

.j {
}

.k {
}

.l {
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(94, 3, 3);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #07121d;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #9c449b;
  text-shadow: 5px 0 #461f45;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
